@model IEnumerable<ContactBook.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Emails)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Phones)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Addresses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>
            @foreach (var email in item.Emails)
            {
                <div>@email.EmailAddress</div>
            }
        </td>
        <td>
            @foreach (var phone in item.Phones)
            {
                <div>@phone.PhoneNumber</div>
            }
        </td>
        <td>
            @foreach (var address in item.Addresses)
            {
                <div>@address.Street, @address.City, @address.State, @address.Zip</div>
            }
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</tbody>

</table>
